@import url("./navbar.css");
/* @import url("./home.css"); */
/* @import url("./home-gallery.css"); */

/* Add the decaration on top */

html,
body {
  height: 100%;
}

body {
  background: #eaeaea;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 1.66667;
  font-weight: 300;
  color: rgba(21, 21, 21, 0.8);
  letter-spacing: -0.03em;
}

a {
  color: inherit;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  height: calc(100% - 45px - 100px);
}

.frame
{
  background-color: white;
}

/* Page loader */
body[data-loading="true"] .loader-container {
  background-color: #c8dde4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 1000;
}

body[data-loading="true"] .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
