.header-nav-bar {
  display: flex;
  justify-content: center; 
  top: 0;
  left: 0;
  z-index: 999;
  right: 0;
}

.nav-bar {
  background-color: #d73430;
  display: inline-block;
  margin: auto 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 1px 1px 1px #001c35;
  background: radial-gradient(ellipse at center, #d73430 0%,#f1625e 100%);
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar ul li {
  float: left;
}

.nav-bar ul li:not(:last-child) {
  border-right: 0.5px inset #b93733;
}

.nav-bar ul li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 150px;
}

.nav-bar ul li a:hover {
  color: #012642;
}
