@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Hello @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                @{
                    if (User.IsInRole(Roles.ADMIN))
                    {
                        <a class="dropdown-item" href="/admin">Admin</a>
                        <a class="dropdown-item" href="/travelpackage">Travel Packages</a>
                        <a class="dropdown-item" href="/category">Categories</a>
                        <a class="dropdown-item" href="/order">Order Users</a>
                    }
                    else
                    {
                        <a class="dropdown-item"
                           href="/useraccount/?userId=@(
                                UserManager.GetUserId(User) )">Account</a>
                        <a class="dropdown-item" href="/order">Order history</a>
                        <a class="dropdown-item" href="/cart">Cart</a>
                    }
                }

                @*<a class="dropdown-item" href="/checkout">Checkout</a>*@

            </div>
        </li>

        <li class="nav-item">
            <form class="form-inline"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home",
                                          new { area = "" })">
                <button type="submit"
                        class="nav-link btn btn-link">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Register">Sign up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               asp-area="Identity"
               asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
