@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .wbox {
        background-color: white;
        padding: 20px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }

    .bold {
        font-weight: bold;
    }

    .img {
        text-align: center;
    }
</style>

<section class="main-container">


    <div class="wbox">

        <div class="orderid">
            <h3> Orders History</h3>

            <div class="img">
                <img src="img/images/cart.svg"
                     alt="cart"
                     width="15%"
                     height="15%" />
            </div>
            <br>
            <p>Here are your previous orders displayed. You can find a specific order by the ID number. To view a specifit order, click on the ID number.  </p>
            <br>
            <h4> Search by ID   <input type="search">   <button type="button" class="btn btn-danger">Search </button></h4>
            <br>

            <table>
                <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Shipped </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>

                        <th scope="row">

                            <h5><a href="orderdetails" class="badge badge-danger">#124587</a></h5>
                        </th>
                        <td>12/02/2019</td>
                        <td>1200.99 eu</td>
                        <td>2</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124559</a></h5>
                        </th>
                        <td>17/03/2019</td>
                        <td>1900.99 eu</td>
                        <td>3</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124581</a></h5>
                        </th>
                        <td>23/05/2019</td>
                        <td>2200.99 eu</td>
                        <td>5</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124587</a></h5>
                        </th>
                        <td>12/02/2019</td>
                        <td>1200.99 eu</td>
                        <td>2</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124365</a></h5>
                        </th>
                        <td>17/03/2019</td>
                        <td>1900.99 eu</td>
                        <td>3</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124522</a></h5>
                        </th>
                        <td>23/05/2019</td>
                        <td>2200.99 eu</td>
                        <td>5</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <h5><a href="orderdetails" class="badge badge-danger">#124514</a></h5>
                        </th>
                        <td>23/05/2019</td>
                        <td>2200.99 eu</td>
                        <td>5</td>
                        <td>Yes</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>


</section>
