
@model TravelPackage;

<link rel="stylesheet" href="/css/holiday-detail.css" />

<section class="container main-container">
    <section class="row container">
        <!-- <section class="col-sm main-container-left"> -->
        <section class="col-md-8 order-md-1">

            <section>
                <figure>
                    <img class="item-image"
                         src="@Model.Image"
                         alt="" />
                    <figcaption>
                        5 days, 4 nights
                    </figcaption>
                </figure>
            </section>

            @if (User.Identity.IsAuthenticated && !User.IsInRole(Roles.ADMIN))
            {
                <section class="container add-button">
                    <a role="button" href="/holiday/addtocart/?tpId=@Model.Id" class="btn btn-primary">
                        Add to cart
                    </a>
                </section>
            }

            <section class="container body-content">
                <h2>
                    @Model.Name
                </h2>
                <h3>
                    @Model.Country - @Model.City
                </h3>
                <h4>
                    Creativiity is intelligence, have fun!
                </h4>

                <p>
                    @{
                        var textblocks = Model.Description.Split(Environment.NewLine);
                        foreach (var text in textblocks)
                        {
                        <p>
                            @text
                        </p>
                    }
                    }
                    </p>
                </section>
            </section>

            <section class="col-md-4 order-md-2">

                <partial name="~/Views/Cart/_CartSummary.cshtml" />

            </section>
        </section>
    </section>

