@using dream_holiday.Models.ViewModels;
@model HolidayViewModel;

@{ ViewData["Title"] = "Holidays"; }

<script id="package-travel">
  let holidayItems=@(
       Json.Serialize(Model.HolidayItems)
  )
</script>

<link rel="stylesheet" href="/css/holiday.css" />

<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-8 container">
                <!-- SUB TEMPLATE -->
                <template id="holiday-item">
                    <div class="col-sm-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <a class="item-link detail-link image-link" href="holiday-detail.html?id=1">
                                        <img src="https://via.placeholder.com/174x157.png/012542?text=Image-1"
                                             class="item-image img-fluid card-img"
                                             alt="..." />
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title item-title">Card title</h5>
                                        <p class="card-text item-content">
                                            This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a
                                            little bit longer.
                                        </p>

                                        <a href="holiday-detail.html?id=1"
                                           class="item-link card-link detail-link">Detail</a>

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="/holiday/addtocart?tpId=1"
                                               class="item-link card-link add-travel-link">
                                                Add to cart
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
                <!-- SUB TEMPLATE -->
                <div class="row" id="holiday-container">

                </div>
            </div>

            <div class="col-4">
                <section id="filters">

                    <h4>Filters</h4>
                    <hr />

                    <form id="formFilter" method="get">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="chkAllDestination" checked />
                            <label class="form-check-label" for="chkAllDestination">All Destinations</label>
                        </div>
                        <div class="form-group">
                            <label for="destinations">Choose Destination</label>
                            <select multiple class="form-control" id="destinations" data-disabled>
                                @foreach (var country in Model.CountryNames)
                                {
                                    <option value="@country">@country</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="price-range">
                                Price Range
                                <strong id="price"></strong>
                            </label>
                            <input type="range"
                                   class="form-control-range"
                                   id="price-range"
                                   min="0"
                                   value="0" />
                        </div>
                        <div class="form-group">
                            <button id="btnSearch"
                                    type="button"
                                    class="btn btn-lg btn-block btn-success">
                                Search
                            </button>
                        </div>
                    </form>
                    <!-- end filter -->
                </section>

                <section id="cart">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <partial name="~/Views/Cart/_CartSummary.cshtml" />
                    }
                    
                </section>
            </div>
        </div>
    </div>
</section>

<script src="/js/holiday.js"></script>
