@{
    ViewData["Title"] = "Thank You";
}

<link rel="stylesheet" href="/css/thankyou.css" />

<section class="main-container">
    <section class=" thankyou">
        <div class="frame">
            <h4>Thank you!</h4>
            <h4>Your purchase was successful.</h4>

            <div class="thank-you">
                <img src="/img/images/traveling.jpg" class="traveling" alt="Traveling">
            </div>


            <div class="HomeButton">
                <a role="button" href="/order" class="btn btn-primary">
                    Go to your <strong>Order page</strong>
                </a>
            </div>
        </div>
    </section>

</section>


