@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<link rel="stylesheet" href="./css/signup.css" />

<section class="main-container">

    <div class="login-box">
        <div class="left-box">
            <h1> Sign Up</h1>
            <input type="text" name="username" placeholder="Username" />
            <input type="text" name="email" placeholder="Email" />
            <input type="text" name="pasword" placeholder="Pasword" />
            <input type="text" name="pasword" placeholder="Retype pasword" />
            <input type="text" name="signup-button" placeholder="Sign Up" />
        </div>

        <div class="right-box">
        </div>
        
    </div>
</section>