@model dream_holiday.Models.TravelPackage

<link rel="stylesheet" href="/css/travel-package.css" />

<section class="main-container">
    <h4>TravelPackage</h4>
    <hr />
    <form class="create-form"  enctype="multipart/form-data"  asp-action="Create">
        <partial name="_DataForm"
                 model="@(new TravelPackage{ CategoryId = -1  })" />        

        <div class="form-group">
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</section>

