@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<link rel="stylesheet" href="/css/about.css" />

<section class="main-container">
    <section class="frame container">
        <div class="row row-50">
            <div class="col-lg-6 pr-xl-5">
                <img src="/img/images/about-us.jpg"
                     alt=""
                     width="544"
                     height="434" />
            </div>
            <div class="col-lg-6">
                <h2>About Our Agency</h2>
                <div class="text-with-divider">
                    <div class="divider"></div>
                    <h4>
                        We offer the best trip package in a friendly and calm
                        atmosphere.
                    </h4>
                </div>

                <p>
                    “Travel is the main thing you purchase that makes you more
                    extravagant”. We, at ‘DreamHolidays’, swear by this and put
                    stock in satisfying travel dreams that make you perpetually rich
                    constantly.
                </p>
                <p>
                    We have been moving excellent encounters for a
                    considerable length of time through our cutting edge planned
                    occasion bundles and other fundamental travel administrations. We
                    rouse our clients to carry on with a rich life, brimming with
                    extraordinary travel encounters.
                </p>
            </div>
        </div>
    </section>
    <br />
    <section class="frame container why-choose-us">
        <h2 class="text-center">Why People Choose Us</h2>
        <div class="row row-30 row-md-60 why-choose-us-body">
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-triangle">
                        <span class="icon-xl restaurant-icon-30"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Friendly Team</a></h4>
                        <p>
                            Morbi tristique senectus et netus et malesuada fames ac
                            turpis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-circle">
                        <span class="icon-xl restaurant-icon-11"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Great destination</a></h4>
                        <p>Cum resistentia mori, omnes elevatuses imperium plac.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-rectangle">
                        <span class="icon-xl restaurant-icon-36"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Quality Hotel</a></h4>
                        <p>
                            Cum consilium accelerare, omnes absolutioes quaestio fatalis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-circle">
                        <span class="icon-xl restaurant-icon-27"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Best Service</a></h4>
                        <p>Cum onus studere, omnes consiliumes amor plac.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-triangle">
                        <span class="icon-xl restaurant-icon-34"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Rich list of location </a></h4>
                        <p>Cum demolitione persuadere, omnes devatioes captis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box-icon-modern">
                    <div class="box-icon-inner decorate-rectangle">
                        <span class="icon-xl restaurant-icon-26"></span>
                    </div>
                    <div class="box-icon-caption">
                        <h4><a href="#">Affordable Prices</a></h4>
                        <p>
                            Mirabilis, gratis devatios mechanice contactus de neuter,
                            primus vigil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>