@import url("./custom-table.css");

.main-container {
    margin: 20px auto;    
}


textarea[name="Description"] {
    height: 250px;
    resize: none;
}

.table {
    max-width: 900px;
}


.table th:first-child {
    width: 200px;
}

.table th:nth-of-type(n+1) {
    width: 200px;
}

 

.col-action-buttons {
    width: 200px;
}


section.main-container.category-create,
section.main-container.category-edit {
    max-width: fit-content;
}


section.main-container.category-delete,
section.main-container.category-create form,
section.main-container.category-edit form {
    width: 600px;
    padding: 40px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 4px rgba(00,0,0,0.6);
}


