.main-container form {
    background: white;
    padding: 20px;
}

.row.cc-error-feedback{
    display: flex;
    flex-direction: column;

}

.row.cc-error-feedback > span {
    display: block;
}
 

.row.cc-error-feedback > span:empty {
    display: none;
}
