

:root {
    --bg-table-header: #135dac;
    --color-table-header: white;
}


.table thead th {
    vertical-align: baseline;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background: #fff;
    height: auto;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table .table-footer,
table caption {
    caption-side: top;
    background: var(--bg-table-header);
    color: var(--color-table-header);
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: var(--bg-table-header);
    color: var(--color-table-header);
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: .55rem;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}



.table td {
    text-align: justify;
    vertical-align: middle;
}

    .table td img {
        max-width: 125px;
        border-radius: 5px;
        display: flex;
        margin: 0 auto;
    }

.detailsFrame,
.detailsDelete {
    padding: 40px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 4px rgba(00,0,0,0.6);
}


.col-action-buttons {
    width: 165px;
}

    .col-action-buttons a {
        margin: 0 auto;
        display: block;
        background: radial-gradient(ellipse at center, #d73430 0%, #f1625e 100%);
    }

.cell-action-buttons {
    display: block;
    text-align: center;
}