.holiday-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    /* min-width: 360px;
  min-height: 196px; */
}

.card img {
    width: 100%;
    max-height: 174px;
    border: 1px solid;
    display: inline-block;
}

.card-text {
    font-size: 13px;
    max-height: 66px;
    overflow-y: hidden;
    position: relative;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.card-text::before {
    content: '...';
    position: absolute;    
    bottom: 0;
    background: white;
    right: 0;
    font: inherit;
    font-size: 150%;
}

a.card-link {
    color: #007bff;
    font-weight: 500;
}

#destinations {
    height: 220px;
    position: relative;
}

#destinations[data-disabled]::before {
    content: '';
    display: flex;
    background: #2d2b2ba3; 
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#filters {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px;
    margin-bottom: 20px;
}