.holiday-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.right-column{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.card {
    /* min-width: 360px;
  min-height: 196px; */
}

.card-body {
    padding: 0.8rem;
}

.card-link + .card-link {
    margin-left: 0;
}

.card-link:not(:first-of-type)::before {
    content: '|'
}

.card img {
    width: 100%;
    max-height: 174px;
    border: 1px solid;
    display: inline-block;
}

.card-text {
    font-size: 13px;
    max-height: 66px;
    overflow-y: hidden;
    position: relative;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

    .card-text::before {
        content: '...';
        position: absolute;
        bottom: 0;
        background: white;
        right: 0;
        font: inherit;
        font-size: 150%;
    }

a.card-link {
    color: #007bff;
    font-weight: 500;
}

#categories,
#destinations {
    height: 100px;
    position: relative;
}

    #categories[data-disabled],
    #destinations[data-disabled] {
        background: #2d2b2b29;
        outline: none;
        pointer-events: none
    }
 

#filters {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px;
    margin-bottom: 20px;
}

form#formFilter div:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding-bottom: 13px;
}

.item-link.image-link.detail-link {
    color: transparent;
}

div#holiday-container {
    height: 100%;
    background: white;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px;
    margin-bottom: 20px;
}

.alert-no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    padding: 40px;
    margin: 0;
}

    .alert-no-result h1 {
        font-size: 5em;
    }
