.wbox {
    background-color: white;
    padding: 20px;
}

h3 {
    text-align: center;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.img {
    text-align: center;
    opacity: 0.6;
}

.img:hover {
    opacity: 0.8;
}


th.col-price {
    width: 100px;
}

.badge-danger { 
    padding: 8px;
    border-radius: 8px;
}

.cell-action-button > span {
    display: flex;
    gap: 10px;
}

