body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: 300;
}

.thankyou {
    margin: 5% auto;
    height: auto;
    max-width: 880px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}


.HomeButton {
    padding: 40px 40px 0px 350px;

}

.frame {
    padding: 40px;
}

h4 {
    text-align: center;
}
.thank-you{
    margin-top:30px;
}
.traveling {
    height: auto;
    max-width: 880px;
    width:100%;
}
