

.thankyou {
    height: auto;
    max-width: 880px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6)
}
 

.frame {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    text-align: center;
}

.thank-you {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.traveling {
    height: auto;
    max-height: 404px;
    display: inline-block;
}
