
@import url("./custom-table.css");


a.btn {
    color: white;
}

.create-form,
.edit-form {
    width: 600px;
    padding: 40px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 4px rgba(00,0,0,0.6);
}

    .edit-form .image-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #eaeaea;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

    .edit-form textarea[name="Description"] {
        height: 400px;
        resize: none;
    }

    .edit-form input[type="file"] {
        padding: 3px;
        background: #007bfe;
        color: white;
    }


 .col-category {
    width: 150px;
}

.col-name {
    width: 200px;
}

.col-desc {
    width: 450px;
}

.col-desc {
    width: auto;
}

.col-qty {
    width: 70px;
}

.col-price {
    width: 80px;
}

.col-image {
    width: 200px;
}

